RewriteEngine On

# Remove .html only inside static-new
RewriteCond %{THE_REQUEST} \s/+static-new/(.*)\.html[\s?] [NC]
RewriteRule ^static-new/(.*)\.html$ /static-new/$1 [R=301,L]

# Map clean URL to .html file
RewriteCond %{DOCUMENT_ROOT}/static-new/$1.html -f
RewriteRule ^static-new/(.*)/?$ /static-new/$1.html [L]